Package: cw1-6005-pw6g08
Version: 1.1
Section: web
Priority: optional
Architecture: all
Depends: debconf, php5 (>= 5)
Maintainer: Phillip Whittlesea <pw.github@thega.me.uk>
Description: RSS Reader written in PHP
 cw1-6005-pw6g08 is a feed reader written for the INFO6005 module
 ran by the University of Southampton
